body {
  margin: 0;
  font-family: inherit;
}
.site-header{
  background-image: url(images/imgi_109_bg-dark.svg);
}
.navbar {
  position: sticky;   
    top: 0;
    z-index: 1000;
   
    backdrop-filter: blur(18px) !important;      
   
    transition: all 0.4s ease;           
}
.heroimg{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.nav-inner {
  max-width: 1200px;
  margin: auto;
  padding: 14px 24px;
  font-size: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo img {
  width: 105px;
}

/* Links */
.nav-links {
  display: flex;
  list-style: none;
  font-size: 16px;
  gap: 28px;
}

.nav-links a {
  color: #fafafa;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  opacity: 0.85;
}

.nav-links a:hover {
  opacity: 1;
}

/* Buttons */
.nav-actions {
  display: flex;
  gap: 10px;
}

.btn-outline {
 border: none;
  padding: 6px 14px;
  background-color: #101629;
  border-radius: 999px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.btn-solid {
  background: #ffffff;
  color: #020617;
  padding: 6px 14px;
  border-radius: 999px;  font-size: 16px;

  border: none;
  cursor: pointer;
  font-weight: 500;
}
/* HERO SECTION */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; background-image: url(images/imgi_109_bg-dark.svg);
 background-color: #020617;
  position: relative;
  overflow: hidden;
}



.hero-content {
  position: relative;
  max-width: 900px;
  padding: 40px 20px;
  z-index: 1;
}

/* BADGE */
.badge {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 6px 14px;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0.08);
  font-size: 14px;
  margin-bottom: 28px;
}

.badge .new {
  background: #10b981;
  color: #ffffff;
  font-weight: 700;
  padding: 2px 8px;
  border-radius: 999px;
  font-size: 12px;
}

.badge-text {
  opacity: 0.9;
  color:#ffff ;
}

/* TITLE */
.hero-title {
  font-size: 64px;
  line-height: 1.1;
  font-weight: 600;
  color: #fff;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.hero-title span {
 color: #ffffff;
  
}

/* DESCRIPTION */
.hero-desc {
  font-size: 18px;
  color: #fafafa;
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 36px;
}

/* FORM */
.hero-form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.hero-form input {
  width: 260px;
  padding: 14px 16px;
  border-radius: 999px;
  border: none;
  outline: none;
  background: rgba(216, 214, 214, 0.26);
  color: #636363;
  font-size: 15px;
}

.hero-form input::placeholder {
  color: #cacaca;
  font-weight: 500;
}

.hero-form button {
  padding: 14px 22px;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  background: #fff;
  color: #020617;
  font-weight: 600;
  font-size: 15px;
  transition: 0.2s ease;
}

.hero-form button:hover {
  transform: translateY(-1px);
  opacity: 0.95;
}
.compay-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #08090a;
  padding: 80px 0;
}

.company {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  gap: 10px;
}

.company-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  color: var(--color-black);
}



.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #08090a;
  padding-top: 80px;
}

.feature p {
  text-align: center;
  font-size: 16px;
  font-weight: 400px;
  line-height: 1.5;
  color: #afaeae;
}

.feature h1 {
  font-size: 40px;
  color: #fff;
}

.feature-card {
  margin-top: 50px;
  display: flex;
  gap: 24px;
  min-width: 500px;

}

.feature-card-layout {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  width: fit-content;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 30px;
  padding: 24px;
  margin-bottom: 24px;
}

.feature-card-layout p,
h3,
h2 {
  text-align: start;
  text-wrap: balance;
  padding: 0px;
  color: #fff;
}

.feature-heading-main {
  font-weight: 500;
}

.green-small-heading {
  font-family: "Geist Mono", monospace;
  font-weight: 400;
  font-size: 14px;
  color: #0c8c5e;
  text-transform: uppercase;
}

/* -------Intelligent Assistant / UI Preview starts------- */

.assistant-card {
  border: 1px solid rgb(232, 232, 232);
  border-radius: 30px;
  padding: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.assistant-card .text-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.assistant-card .text-wrapper p {
  padding: 0px;
}

.assistant-card img {
  margin-top: 100px;
}

/* -------Intelligent Assistant / UI Preview ends------- */
/*-----------Feature section ends----------------*/
/* ---------------Enterprise Features Section starts------------- */

.enterprise-feature {
  min-width: 500px;
  padding-top: 80px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.enterprise-header {
  display: flex;
  gap: 12rem;
  padding-bottom: 48px;
}

.enterprise-feature-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  flex-direction: column;
}

.enterprise-feature-text-wrapper h1 {
  font-size: 40px;
}

.enterprise-feature-text-wrapper p {
  font-size: 16px;
}

.explore-for-enterprise-btn {
  gap: 6px;
  height: fit-content;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 7px 24px;
  border-radius: 9999px;
  border: 1px solid transparent;
  background-color: var(--color-black);
  color: var(--bg-color);
}

.enterprise-feature-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  margin-bottom: 50px;
}

.enterprise-feature-card h2 {
  margin: 32px 0px 16px 0px;
}

.enterprise-feature-card p {
  font-size: 16px;
  color: #08090acc;
}

.enterprise-feature-banner {
  background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    url(/public/assets/swappy-20260202-010618.png);
  height: 520px;
  width: 1028px;
  background-repeat: no-repeat;
  background-size: 105% auto;
  background-repeat: no-repeat;
  border-radius: 30px;
  padding: 4rem;
}

.enterprise-feature-banner:hover {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/public/assets/swappy-20260202-010618.png);
}

.enterprise-small-heading {
  color: white;
  font-weight: 600;
}

.enterprise-feature-banner h2 {
  color: white;
  padding: 20px 0px 30px 0px;
  font-weight: 600;
  line-height: 1.3;
}

.enterprise-feature-banner p {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  color: white;
  font-weight: 500;
}

.enterprise-feature-banner p span svg {
  width: 10px;
  rotate: -90deg;
}

.feature-banner-text {
  margin-top: 8rem;
  display: flex;
  gap: 2.5rem;
}

.feature-banner-text .card h1 {
  color: var(--bg-color);
  font-weight: 400;
  font-size: 40px;
}

.feature-banner-text .card p {
  color: #a8a8a8;
  font-weight: 500;
  font-size: 14px;
  margin-top: 6px;
  line-height: 1.5;
}

.enterprise-feature-company {
  display: flex;
  min-width: 1028px;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 200px;
  padding: 0px 24px;
}

.enterprise-feature-company .company-container img {
  filter: brightness(0) saturate(100%) invert(65%);
}
.case-study {
  margin-bottom: 200px;
}

.case-study-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 50px;
}

.case-study-heading h1 {
  font-size: 40px;
}

.case-study-heading p {
  font-size: 16px;
  color: var(--color-subheading);
  text-align: center;
}

.carousel {
  overflow: hidden;
}

.track {
  margin: 0px 200px;
  display: flex;
  gap: 2rem;
}

.carousel-card {
  max-width: 400px;
}

.image-container {
  background-size: 120% auto;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 400px;
  height: 290px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
}

.image-container img {
  filter: brightness(0) saturate(100%) invert(1);
}

.carousel-card p {
  color: var(--color-subheading);
}

.carousel-card button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-top: 2rem;
}

.carousel-card button span svg {
  width: 10px;
  rotate: -90deg;
}

.carousel-card button:hover {
  color: #0c8c5e;
  cursor: pointer;
}

.carousel-button {
  margin-top: 80px;
  text-align: center;
}

.carousel-button span {
  margin: 5px;
}

/*-----------Case Studies / Customer Stories ends--------------*/

/* ---------Final Call-To-Action starts--------- */

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 200px;
}

.cta h1 {
  font-size: 40px;
  font-weight: 600;
}

.cta p {
  font-size: 16px;
  margin-top: 16px;
}

.cta-btn {
  margin-top: 40px;
}

.get-started-btn {
  gap: 6px;
  height: fit-content;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  padding: 9px 24px;
  border-radius: 9999px;
  border: 1px solid rgb(198, 198, 198);
  background-color: var(--color-black);
  color: var(--bg-color);
}

.cta-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cta-card .cta-card-icon {
  border-radius: 20px;
  border: 1px solid rgb(197, 197, 197);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: fit-content;
}

.cta-card .cta-card-icon svg {
  width: 36px;
  color: #0c8c5e;
}

.cta-card h2 {
  font-size: 20px;
}

.cta-card a {
  margin-top: 30px;
  text-decoration: none;
  color: #0c8c5e;
}

.cta-card a span svg {
  width: 10px;
  rotate: -90deg;
}

.cta-card-wrapper {
  display: flex;
  gap: 10rem;
  margin-top: 100px;
}

/* ---------Final Call-To-Action ends--------- */

/* -----------footer starts starts----------- */

footer {
  margin-bottom: 100px;
  width: full;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-head {
  min-width: 1028px;
  display: flex;
  justify-content: space-between;
  padding: 64px 32px 24px;
  border: 1px solid rgb(203, 203, 203);
}

.social-logo {
  color: #55555585;
  display: flex;
  gap: 1rem;
}

.social-links {
  display: flex;
  gap: 60px;
  padding: 26px 26px;
  border: 1px solid rgba(203, 203, 203, 0.634);
  border-top: none;
  width: 1028px;
}

.social-links .links {
  margin: 20px;
}

footer .social-links .links p {
  font-size: 13px;
  margin-top: 20px;
  font-weight: 500;
}

.end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1028px;
  height: 100px;
  padding: 40px;
  gap: 20px;
  border: 1px solid rgba(203, 203, 203, 0.634);
  border-top: none;
}

.footer-end {
  display: flex;
  gap: 3px;
  justify-content: start;
  align-items: center;
  width: 1028px;
  border: 1px solid rgba(203, 203, 203, 0.634);
  border-top: none;
  padding: 30px 50px;
}

.footer-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.footer-badge span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0c8c5e;
}

.footer-badge span svg {
  width: 20px;
}

.theme-toggle {
  background-color: #c1c1c161;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 50px;
  width: fit-content;
}

.theme-toggle button {
  border: none;
  background-color: transparent;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}