:root {
  --primary-color: #fff;
  --background-color: #111;
  --sub-heading-color: #aaa;
  --secondary-color: rgb(24, 226, 153);
  --transparent-color: rgba(255, 255, 255, 0.04);
  --font-family: "Inter", sans-serif;
  --text-color: #111;
  --btn-hover-color: rgb(190, 187, 187);
  --background-transparent: rgba(255, 255, 255, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--primary-color);
  overflow-x: hidden;
}
.logo {
  cursor: pointer;
}

a {
  color: var(--primary-color);
  list-style: none;
  text-decoration: none;
}

.back-img {
  position: relative;
  width: 100%;
  background-image: url(./assets/images/back-img.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -80px 20%;
  background-size: 110% auto;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}
nav {
  margin-left: 150px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 5px;
}

.nav-links a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 15px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 20px;
  transition: background-color 0.2s ease;
}

.nav-links a:hover {
  background-color: var(--transparent-color);
}

.header-actions {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-left: 40px;
}

.btn {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 16px;
}

.btn-secondary {
  color: var(--text-color);
  background-color: var(--primary-color);
  font-weight: 500;
}

.btn-secondary:hover {
  background-color: var(--btn-hover-color);
}

.btn-primary {
  background: var(--transparent-color);
  color: var(--primary-color);
  border: none;
  padding: 10px;
}

.hero-section {
  position: relative;
  z-index: 2;
  padding-top: 50px;
  color: var(--primary-color);
}

.hero-section-main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: var(--transparent-color);
  border-radius: 20px;
  padding: 3px;
  max-width: fit-content;
  margin-inline: auto;
}

.main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  width: 100%;
  max-width: fit-content;
  padding: 4px;
  border-radius: 50px;
  background-color: var(--background-transparent);
  font-size: 14px;
}

.new-btn {
  font-size: 12px;
  font-weight: 600;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 5px 10px;
  border-radius: 50px;
}
.hero-section-content {
  text-align: center;
  margin-top: 3%;
}

.hero-section-title {
  font-size: 62px;
  max-width: 617px;
  margin-inline: auto;
}

.hero-section-subtitle {
  margin-top: 30px;
  font-size: 18px;
  max-width: 496px;
  margin-inline: auto;
}

.input-box {
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
  gap: 10px;
  background-color: var(--background-transparent);
  font-size: 14px;
  padding: 4px 8px;
  max-width: 350px;
  margin-inline: auto;
  margin-top: 30px;
}

.input-box input {
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
}
input::placeholder {
  color: rgb(149, 140, 140);
}

.input-box button {
  background-color: var(--primary-color);
  border: 1px solid var(--background-transparent);
  padding: 10px;
  border-radius: 50px;
  font-weight: 500;
  font-size: 14px;
}

.hero-section-image {
  margin-top: 6%;
  text-align: center;
}

.hero-section-image img {
  max-width: 100%;
  height: auto;
  border-radius: 30px;
}

.partners-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  margin-top: 5%;
}

.partners-section img {
  object-fit: contain;
}

.intelligence-age {
  margin-top: 10%;
  text-align: center;
  padding: 0px 15%;
}

label {
  color: var(--secondary-color);
  font-size: 12px;
  font-weight: 600;
}

.intelligence-age h1 {
  font-size: 38px;
  letter-spacing: -1.5px;
  line-height: 1.8;
}

.intelligence-age p {
  max-width: 350px;
  font-size: 16px;
  color: var(--sub-heading-color);
  line-height: 1.5;
  margin-inline: auto;
  margin-top: 10px;
}
.intelligence-age h2 {
  line-height: 2.5;
}

/* .p-width {
  max-width: 540px !important;
} */

.intelligence-age .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 50px;
}

.llms-agent {
  border: 1px solid var(--transparent-color);
  border-radius: 20px;
  padding: 30px;
  text-align: left;
}

.llms-agent:last-child {
  grid-column: span 2;
  text-align: center;
}

.llms-agent img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.enterprise-section {
  margin-top: 10%;
  background-color: var(--transparent-color);
}

.enterprise-container {
  padding: 5% 15%;
}
.enterprise-section .grid-container {
  display: flex;
  gap: 15%;
}

.enterprise h1 {
  font-size: 38px;
  max-width: 391px;
  margin-top: 20px;
}

.enterprise p {
  color: var(--sub-heading-color);
  margin-top: 15px;
}

.enterprise-btn {
  background-color: var(--primary-color);
  border: 1px solid var(--background-transparent);
  padding: 10px 30px;
  border-radius: 50px;
  font-weight: 500;
  font-size: 16px;
}

.partner-container {
  margin-top: 5%;
  display: flex;
  gap: 5%;
}
.partner p {
  color: var(--sub-heading-color);
  font-size: 16px;
  /* max-width: 490px; */
  line-height: 1.5;
  margin-top: 10px;
}
.partner h3 {
  font-size: 18px;
  margin-top: 10px;
}

.partner-brands {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;
  padding-top: 10px;
}

.horizontal-line {
  margin-top: 1%;
  background-color: var(--transparent-color);
  height: 1px;
  width: 100%;
}

.industry-section {
  margin-top: 40px;
}

.industry-section .llms-agent {
  margin-inline: auto;
  max-width: fit-content;
  text-align: center;
  line-height: 1.5;
  border: none;
}

.industry-section h1 {
  font-size: 38px;
  letter-spacing: -1.5px;
  line-height: 1.2;
}

.industry-scroll-container {
  display: flex;
  gap: 24px;
  margin-top: 60px;
  padding-left: 15%;
}

.card-container {
  min-width: 360px;
  max-width: 360px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 16px;
}

.card-container p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 600;
  color: var(--sub-heading-color);
}

.para {
  margin-top: 20px;
}

.card-container a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.card-container a img {
  width: 20px;
  height: 20px;
}

.card-container:hover a {
  color: var(--secondary-color);
}

.card-container:hover img {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.back-forward-btns {
  text-align: center;
  margin-top: 5%;
}
.back-forward-btns-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing-container {
  display: flex;
  gap: 200px;
}


.pricing-container h3 {
  font-size: 20px;
  line-height: 1.8;
}
.pricing-container p {
  font-size: 16px;
  line-height: 1.8;
}
.pricing-container a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 14px;
  font-size: 16px;
  line-height: 1.8;
}
.pricing-container a:hover {
  span {
    margin-left: 5px;
    transition: margin-left 0.3s ease;
  }
}
.v1 {
  border-left: 2px solid var(--transparent-color);
  height: 300px;
}
footer {
  padding: 0px 15%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  border: 1px solid var(--transparent-color);
  padding-top: 8%;
}
.footer-nav {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
}

li {
  list-style: none;
}
hr {
  background-color: var(--transparent-color);
}

.footer-section-container {
  display: flex;
  gap: 9%;
  /* margin-top: 5%; */
  padding: 5%;
  border: 1px solid var(--transparent-color);
  border-top: none;
}

.footer-column ul {
  list-style: none;
  font-size: 16px;
}

.footer-column li {
  margin-bottom: 0.6rem;
  list-style: none;
}

.footer-column li a {
  display: inline-block;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 14px;
  padding: 6px;
  border-radius: 20px;
  transition: background-color 0.2s ease;
}

.footer-column li a:hover {
  background-color: var(--transparent-color);
}

.footer-column a {
  text-decoration: none;
  color: var(--primary-color);
}
.footer-column h3 {
  color: var(--sub-heading-color);
  font-size: 14px;
  line-height: 1.8;
}
.footer-column a {
  text-decoration: none;
  color: var(--footer-text);
  font-size: 14px;
}

.footer-aicpa-section {
  border: 1px solid var(--transparent-color);
  border-top: none;
  display: flex;
  gap: 20px;
  padding: 15px 25px;
}
.footer-aicpa-section p {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0;
}

.last-div-container span {
  font-size: 14px;
  font-weight: 400;
}
.last-div-first-part {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 50px 20px;
}
.last-div-first-part p {
  font-size: 14px;
  color: var(--sub-heading-color);
}

.last {
  display: flex;
  gap: 10px;
  padding: 5px;
  background-color: var(--transparent-color);
  border-radius: 20px;
}